@font-face {
  font-family: 'Cocogoose';
  src:
    url("./assets/Cocogoose.ttf"),
    url("./assets/cocogoose.zip"),
    url("./assets/COCOGOOSE\ PRO\ by\ ZETAFONTS\ -\ Commercial\ information.pdf"),
    url("./assets/Cocogoose\ Pro\ Family\ \(CC\ BY-NC\)License.pdf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.black {
  color: #272a31;
}

.orange {
  color: #ec5242;
}

.white {
  color: #fff;
}

.grey {
  color: #d3d3d3;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0%;
}

.nav {
  display: none;
}

.black-navbar {
  display: none;
}

.navbar-logo {
  display: none;
}

.navbar-logo li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.main-navbar-ul {
  display: block;
}

.hambuger {
  margin-bottom: 5vh;
  padding: 2vh 2vw;
  left: 0%;
  top: 2vh;
  cursor: pointer;
}

.hamburger {
  margin-bottom: 5vh;
  padding: 4vh 4vw;
  right: 0%;
  top: 2vh;
  position: absolute;
  cursor: pointer;
}

.menu-bar {
  padding-top: 6vh;
  background-color: #272a31;
  height: 100vh;
  position: absolute;
  width: 100%;
  left: -110%;
  z-index: 1000;
}

.mobile-list {
  margin: 2vh 3vw;
  list-style: none;
  font-size: 1.5em;
}

.mobile-list :hover {
  margin: 0% 1vw;
  list-style: none;
  font-size: 1em;
  text-decoration: underline;
}

.mobile-list a {
  text-decoration: none;
}

/* FIRST SECTION */
.first-section {
  margin: 0% 2vw;
  background-color: rgba(252, 248, 248, 0.849);
}

.page-head {
  display: flex;
  flex-direction: column;
}

h1 {
  order: 2;
  font-size: 4.5vh;
  margin: auto;
  /* stylelint-disable */
  font-family: Cocogoose;
  /* stylelint-enable */
  font-weight: normal;
  text-align: center;
}

.hello {
  order: 1;
  margin: 0.9vh 0%;
  font-size: 3vh;
  text-align: center;
}

.intro {
  border: 1px white;
  padding: 2vh 2vw;
  font-size: 1.8vh;
  text-align: center;
}

.intro-p {
  background-color: rgb(255, 251, 251);
}

.intro a {
  text-decoration: underline;
  font-weight: bold;
}

.logo-description {
  padding: 2vh 12vw;
}

.logo-description h2 {
  border: 1px white;
  font-size: 3.2vh;
  text-align: center;
  font-weight: bold;
  margin: 0%;
}

.logo-description p {
  text-align: center;
  font-size: 1.8vh;
}

.cc-logo-description {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 251, 251);
}

.cc-logo-description div {
  display: flex;
  margin: 0%;
  padding: 0% 18%;
  align-items: center;
}

.cc-logo-description div h4 {
  font-size: 1.2em;
  font-stretch: ultra-condensed;
  font-weight: 800;
  margin: 0%;
}

.cc-logo-description p {
  margin: 0%;
  padding: 0% 29%;
  font-size: 0.8em;
  text-align: center;
}

/* SECOND-SECTION */
.second-section {
  margin: 2vh 0%;
  padding-bottom: 4vh;
}

.past-summit-img {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.past-img {
  background-image:
    linear-gradient(0deg, rgba(240, 9, 9, 0.4), rgba(240, 9, 9, 0.4)),
    url("./assets/conference-2.jpg");
  background-repeat: no-repeat;
  width: 80vw;
  height: 25vh;
  background-size: cover;
  margin: 3vh auto;
  background-position: center center;
}

.past-summits .past-summit-img h4 {
  font-size: 1em;
  padding: 0%;
  margin: 0%;
}

.past-summits .past-summit-img h4,
.summits-paragraph {
  padding: 0%;
}

.past-img-2 {
  background-image:
    linear-gradient(0deg, rgba(240, 9, 9, 0.4), rgba(240, 9, 9, 0.4)),
    url("./assets/conference-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 25vh;
  margin: 3vh auto;
  background-position: center center;
}

.second-section h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 4vh;
  font-size: 2.8vh;
}

.past-summit-img h4,
.past-summit-img p {
  text-align: center;
}

/* THIRD-SECTION */
.third-section {
  margin: 0% 2vw;
}

.featured-speaker {
  display: flex;
}

.featured-speaker img {
  width: 25vw;
  height: 15vh;
}

.featured-speaker div {
  width: 65%;
  margin: 0% 3%;
}

.featured-speaker div p {
  font-size: 1.8vh;
}

.italics {
  font-style: italic;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}

.more a {
  text-decoration: none;
  font-size: 1.8vh;
  padding: 1em;
}

/* FOOTER SECTION */
footer {
  margin: 0%;
}

.partners {
  background-color: #272a31d7;
  font-weight: bold;
}

footer .partners p {
  text-align: center;
  padding: 3vh 0%;
  font-size: 1.2em;
}

.partners-list {
  display: flex;
  font-size: 1.2em;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-list li {
  list-style: none;
  padding: 2vh 4vw;
}

.footer-signoff {
  display: flex;
}

.footer-logo {
  display: flex;
  padding: 0% 10%;
  width: 30%;
  align-items: center;
}

footer .footer-logo p {
  font-size: 0.9em;
  /* stylelint-disable */
  font-family: Cocogoose;
  /* stylelint-enable */
  font-weight: bold;
}

.footer-logo-text {
  width: 70%;
}

footer .footer-logo-text p {
  font-size: 0.8em;
}

/* DESKTOP VERSION */
@media (min-width: 768px) {
  /* NAVBAR SECTION */
  .hambuger,
  .hamburger {
    display: none;
    visibility: hidden;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .black-navbar {
    background-color: #272a31;
    padding-right: 10vw;
    display: block;
  }

  .black-navbar-ul {
    display: flex;
    float: right;
    margin: 0.5vh 0%;
  }

  .black-navbar-ul li {
    padding: 0% 1vw;
    list-style: none;
  }

  .black-navbar-ul li:hover {
    text-decoration: underline;
  }

  .main-navbar {
    display: flex;
    margin: 0%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0% 2vw;
  }

  .navbar-logo {
    align-items: center;
    display: flex;
    padding-left: 10vw;
  }

  .main-navbar-ul {
    display: flex;
    list-style: none;
    float: right;
    margin-right: 7vw;
    font-size: 1em;
  }

  .navbar-cc-link {
    border: 4px solid;
    border-color: #ec5242;
    padding: 1vh 1vw;
    font-size: 1em;
    list-style: none;
  }

  .main-navbar-ul li {
    margin-right: 1vw;
  }

  .main-navbar-ul li:hover {
    text-decoration: underline;
  }

  .main-navbar-ul li a {
    text-decoration: none;
    color: black;
  }

  /* FIRST SECTION */
  .first-section {
    padding: 5vh 14vw;
    margin: 0%;
    background-color: rgb(240, 240, 240);
  }

  .hello {
    display: none;
  }

  .logo-description {
    margin: 0%;
    padding: 0%;
  }

  .logo-description h2 {
    font-size: 0.9em;
  }

  .cc-logo-description {
    margin: 0% 14vw;
    padding: 1vh 0%;
  }

  /* THE PAST SUMMITS SECTION */
  .second-section {
    padding: 5vh 14vw;
  }

  .intro {
    font-size: 0.7em;
  }

  .past-summits {
    display: flex;
    align-content: center;
    margin: auto;
  }

  .past-summit-img {
    margin: auto;
    height: 18vh;
    width: 34vw;
    align-self: center;
  }

  .past-summit-img h4,
  .past-summit-img p {
    text-align: center;
  }

  /* FOOTER SECTION */
  footer {
    margin: 0%;
    display: block;
  }

  .partners {
    display: none;
  }

  .footer-signoff {
    display: flex;
    background-color: #272a31d7;
    padding: 2vh 4vw;
  }

  .footer-logo {
    display: flex;
    padding: 0% 10%;
    width: 30%;
    align-items: center;
  }

  .footer-logo p {
    font-size: 0.8em;
    /* stylelint-disable */
    font-family: Cocogoose;
    /* stylelint-enable */
    font-weight: bold;
    color: white;
  }

  .footer-logo-text {
    width: 70%;
  }

  .footer-logo-text p {
    font-size: 0.8em;
    margin-right: 4vw;
    color: white;
  }
}
