@font-face {
  font-family: 'Cocogoose';
  src:
    url("./assets/Cocogoose.ttf"),
    url("./assets/cocogoose.zip"),
    url("./assets/COCOGOOSE\ PRO\ by\ ZETAFONTS\ -\ Commercial\ information.pdf"),
    url("./assets/Cocogoose\ Pro\ Family\ \(CC\ BY-NC\)License.pdf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.black {
  color: #272a31;
}

.orange {
  color: #ec5242;
}

.white {
  color: #fff;
}

.grey {
  color: #d3d3d3;
}

body {
  font-family: 'Lato', sans-serif; /* stylelint-disable */
  margin: 0%;
}

.black-navbar {
  display: none;
}

.navbar-logo {
  display: none;
}

.navbar-logo li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.main-navbar-ul {
  display: block;
}


.hambuger {
  margin-bottom: 5vh;
  padding: 2vh 2vw;
  left: 0%;
  top: 2vh;
  cursor: pointer;
}

.hamburger {
  margin-bottom: 5vh;
  padding: 4vh 4vw;
  right: 0%;
  top: 2vh;
  position: absolute;
  cursor: pointer;
}

.menu-bar {
  padding-top: 6vh;
  background-color: #272a31;
  height: 100vh;
  position: absolute;
  left: -110%;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: none;
}

.mobile-list {
  margin: 2vh 3vw;
  list-style: none;
  font-size: 1.5em;
}

.mobile-list :hover {
  margin: 0% 1vw;
  list-style: none;
  font-size: 1em;
  text-decoration: underline;
}

.mobile-list a {
  text-decoration: none;
}

/* FIRST SECTION */
.first-section {
  margin: 0% 2vw;
}

.page-head {
  display: flex;
  flex-direction: column;
}

h1 {
  order: 2;
  font-size: 4.8vh;
  margin: 0%;
  font-family: Cocogoose;
  font-weight: normal;
}

.hello {
  order: 1;
  margin: 0.5vh 0%;
  font-size: 3vh;
  justify-self: center;
}

.hellos {
  display: none;
}

.intro {
  border: 1px white;
  padding: 2vh 2vw;
  font-size: 1.8vh;
}

/* SECOND-SECTION */
.second-section {
  background-color: #272a31;
  margin: 2vh 0%;
  padding-bottom: 4vh;
}

.second-section h2 {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 4vh;
  font-size: 2.8vh;
}

.prog-feature {
  background-color: #363434;
  padding: 0% 1vw;
  display: flex;
  margin: 2vh 0%;
}

.prog-feature img {
  width: 16%;
  margin: 2px;
  background-color: #d3d3d3;
}

.prog-feature h4 {
  width: 25%;
  margin: auto;
  font-size: 1.8vh;
  align-self: center;
  justify-self: center;
  padding: 1vh 3vw;
}

.prog-feature p {
  width: 75%;
  float: right;
  margin: 2px;
  font-size: 1.8vh;
  align-self: center;
}

.logo-link-1 {
  display: flex;
  margin: auto;
  margin-top: 4vh;
  text-decoration: none;
  width: 70vw;
  background-color: #ec5242;
  padding: 3vh 4vw;
  justify-content: center;
}

.logo-link-2 {
  display: none;
}

/* THIRD-SECTION */
.third-section {
  margin: 0% 2vw;
}

.featured-speaker {
  display: flex;
}

.featured-speaker img {
  width: 25vw;
  height: 15vh;
}

.featured-speaker div {
  width: 65%;
  margin: 0% 3%;
}

.featured-speaker div p {
  font-size: 1.8vh;
}

.italics {
  font-style: italic;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}

.more a {
  text-decoration: none;
  font-size: 1.8vh;
  padding: 1em;
}

footer {
  display: none;
}

/* DESKTOP VERSION */
@media (min-width: 768px) {
  /* NAVBAR SECTION */
  .hambuger,
  .hamburger {
    display: none;
    visibility: hidden;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .black-navbar {
    background-color: #272a31;
    padding-right: 10vw;
    display: block;
  }

  .black-navbar-ul {
    display: flex;
    float: right;
    margin: 0.5vh 0%;
  }

  .black-navbar-ul li {
    padding: 0% 1vw;
    list-style: none;
  }

  .main-navbar {
    display: flex;
    margin: 0%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0% 2vw;
  }

  .navbar-logo {
    align-items: center;
  }

  .navbar-logo {
    display: flex;
    padding-left: 10vw;
  }

  .main-navbar-ul {
    display: flex;
    list-style: none;
    float: right;
    margin-right: 7vw;
    font-size: 1em;
  }

  .navbar-cc-link {
    border: 4px solid;
    border-color: #ec5242;
    padding: 1vh 1vw;
    font-size: 0.6em;
    list-style: none;
  }

  .main-navbar-ul li {
    margin-right: 1vw;
  }

  .main-navbar-ul li a {
    text-decoration: none;
    color: black;
  }

  /* THE MAIN PAGE SECTION */
  .first-section {
    margin-bottom: 8vh;
  }

  .hello {
    display: none;
  }

  .hellos {
    display: flex;
    align-items: baseline;
    margin: 0% 12vw;
    font-size: 3vh;
    align-items: flex-end;
    height: 8vh;
  }

  .page-head {
    margin: 0% 10vw;
  }

  .intro {
    margin: 0% 10vw;
    font-size: 1.2em;
    width: 60vw;
    border: 1px solid;
    border-color: rgb(236, 228, 228);
  }

  .date {
    margin: 0% 12vw;
    font-weight: bolder;
    margin-top: 3vh;
  }

  .location {
    margin: 0% 12vw;
  }

  /* THE MAIN PROGRAM SECTION */
  
  .second-section h2 {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 2vh;
    font-size: 2.8vh;
  }
  
  .second-section-container {
    display: flex;
    justify-content: center;
  }

  .prog-feature {
    background-color: #363434;
    padding: 0% 1vw;
    display: flex;
    flex-direction: column;
    margin: 2vh 0.2vw;
    width: 12vw;
  }
  
  .prog-feature img {
    width: 26%;
    margin: 2px;
    background-color: #d3d3d3;
    align-self: center;
  }
  
  .prog-feature h4 {
    width: 60%;
    font-size: 1em;
    align-self: center;
    text-align: center;
  }
  
  .prog-feature p {
    width: 75%;
    margin: 2px;
    font-size: 0.5em;
    align-self: center;
    text-align: center;
    padding-bottom: 1vh;
  }
  
  .logo-link-1 {
    display: none;
  }

  .logo-link-2 {
    display: flex;
    margin: auto;
    margin-top: 3vh;
    text-decoration: underline;
    width: 70vw;
    padding: 0% 4vw;
    justify-content: center;
    border: none;
  }

  /* THE FEATURED SPEAKERS SECTION */
  .third-section {
    display: flex;
    flex-direction: column;
  }

  .third-section #my-popup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0%;
    padding-bottom: 0%;
    justify-content: center;
  }

  .third-section h2 {
    align-self: center;
    margin-bottom: 3vh;
  }

  .third-section #my-popup .featured-speaker {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    margin-left: 4vw;
    margin-bottom: 2vh;
    width: 35%;
  }

  .third-section #my-popup .featured-speaker img {
    max-width: 100px;
    max-height: 100px;
  }
  
  .third-section #my-popup .featured-speaker div p {
    margin: 0.5vh 0%;
  }

  .third-section #my-popup .featured-speaker div {
    width: 65%;
    margin: 0% 3%;
    display: flex;
    flex-direction: column;
  }
  
  .third-section #my-popup .featured-speaker div p {
    font-size: 0.8em;
  }

  .more {
    display: none;
  }

  /* FOOTER SECTION */
footer {
  margin: 0%;
  display: block;
}

.partners {
  background-color: #272a31d7;
  font-weight: bold;
}

.partners p {
  padding: 2vh 0%;
}

.partners-heading {
  text-align: center;
  font-size: 1.5em;
  padding: 0%;
}

.partners-list {
  display: flex;
  font-size: 0.8em;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2vh;
}

.partners-list li {
  list-style: none;
  padding: 2vh 3vw;
}

.footer-signoff {
  display: flex;
}

.footer-logo {
  display: flex;
  padding: 0% 10%;
  width: 30%;
  align-items: center;
}

footer .footer-logo p {
  font-size: 1.2em;
  font-family: Cocogoose;
  font-weight: bold;
}

.footer-logo-text {
  width: 70%;
}

footer .footer-logo-text p {
  font-size: 0.8em;
  margin-right: 4vw;
}
}
