@font-face {
  src: url("./assets/Cocogoose.ttf");
  font-family: 'Cocogoose';
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
}